---
const {
  RutaLogo = "https://radios.xhost.cl/radiocurico/assets/imagenes/",
  NombreLogo = "logo",
  ExtensionLogo = "jpg",
  port_player = "8062",
  Instagram = "https://www.instagram.com/radioscurico/",
  FaceBook = "https://www.facebook.com/profile.php?id=61551234204960&locale=es_LA",
  X = "",
  TikTok = "",
  Yotube = "",
  Url = "https://www.radiocurico.cl/",
  WhatsappNumber = "+56986821966",
  WhatsAppMensaje = "Hola radio Curicó ",
  //mENSAJE Powered By xhOST
  MensajeXhost = "Powered By Xhost© IT SPA",
  UrlSponsor = "",
} = Astro.props;
---

<body
  class="flex items-center flex-col justify-center h-screen bg-gray-100 bg-cover bg-[url('https://image.winudf.com/v2/image1/Y29tLnJhZGlvLnJhZGlvYWxmYV9zY3JlZW5fNV8xNjc1NTAzMTQwXzAzNA/screen-5.jpg?fakeurl=1&type=.jpg')]"
>
  <div class="flex flex-col container p-10 text-center mx-auto items-center">
    <!--LOGO-->
    <img
      src=`${RutaLogo}${NombreLogo}.${ExtensionLogo}`
      alt="Logo radio Curicó"
      title="Logo radio Curicó"
      class="mb-4 mx-auto rounded-full border-4 border-transparent border-l-red-700 border-r-amber-600"
    />
    <!--PLAYER -->
    <iframe
      class="text-center player"
      src=`https://streaming01.xhost.cl/cp/widgets/player/single/?p=${port_player}`
    ></iframe>
  </div>
  <div class="d-flex flex justify-center items-center gap-4">
    <!--INSTAGRAM-->
    <a href={Instagram} target="_blank" title=""
      ><i class="fab fa-instagram text-slate-300 overflow-hidden text-[5vmin]"
      ></i></a
    >
    <!--FACEBOOK-->
    <a href={FaceBook} target="_blank" title=""
      ><i
        class="fab
      fa-facebook
      text-slate-300
      overflow-hidden
      text-[5vmin]"
      ></i>
    </a>
    <!--X-->
    <!-- <a href="https://"
      ><i class="fab fa-twitter text-slate-300 overflow-hidden text-[5vmin]"
      ></i></a
    > -->
    <!--WWW -->
    <a href=`${Url}` target="_blank" title=""
      ><i class="fas fa-globe text-slate-300 overflow-hidden text-[5vmin]"
      ></i></a
    >
    <!--WHATSAPP-->
    <a
      href=`https://api.whatsapp.com/send?phone=${WhatsappNumber}&text=${WhatsAppMensaje}`
      target="_blank"
    >
      <i
        class="fab fa-whatsapp text-slate-300 overflow-hidden text-[5vmin]"
        aria-hidden="true"></i></a
    >
  </div>
  <h2 class="lg:text-sm text-center text-gray-200">
    <a href=`${UrlSponsor}` class="link-danger" target="_blank"
      >{MensajeXhost}</a
    >
  </h2>
  <style>
    @media (min-width: 320px) {
      img {
        width: 50%;
        height: auto;
      }
      .player {
        width: 100%;
        height: auto;
      }
    }
    @media (min-width: 576px) {
      img {
        width: 33%;
        height: auto;
      }
      .player {
        width: 100%;
        height: auto;
      }
    }

    @media (min-width: 768px) {
      img {
        width: 33%;
        height: auto;
      }
      .player {
        width: 80%;
        height: auto;
      }
    }

    @media (min-width: 992px) {
      img {
        width: 40%;
        height: auto;
      }
      .player {
        width: 80%;
        height: auto;
      }
    }

    @media (min-width: 1200px) {
      img {
        width: 20%;
        height: auto;
      }
      .player {
        width: 60%;
        height: auto;
      }
    }
  </style>
</body>
